* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: radial-gradient(circle at top, #034608, #000);
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  background: url("https://i.imgur.com/8QfQ0zL.png");
  opacity: 0.05;
  z-index: 0;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

#countdown {
  font-size: 32px;
  letter-spacing: 3px;
  color: #ffb6c1;
}

.section {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.section h2 {
  margin-bottom: 20px;
  border-left: 4px solid pink;
  padding-left: 10px;
}

.memory {
  background: rgba(255, 255, 255, 0.08);
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}
.note{
  text-align: center;
  padding:80px;
  margin: 10px 0;
}

.memory span {
  font-size: 14px;
  opacity: 0.7;
}

.gallery {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.gallery img {
  height: 180px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.music-control {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.15);
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  font-size: 20px;
}

.icon {
  height: 50px;
  border-radius: 10px;
  object-fit: cover;
}

.history {
  display: flex;
  flex-direction: column; /* ALT ALTA */
  gap: 20px;
}

.history img{
  height: 900px;
  border-radius: 15px;
  cursor: pointer;

}

.memory-video {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  margin: 15px 0;
}